/* ----- reset ----- */
@import url(./reset.css);

/* -----  ----- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fdfdff;
}

[class*="__container"] {
  max-width: 1630px;
  margin: 0 auto;
}

.visually-hidden {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ----- services ----- */

.services-header-block-titile {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.20833;
  letter-spacing: -0.04em;
}

.services-hero-block-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.68421;
  letter-spacing: -0.01em;
}


.services-header-button {
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #473bf0;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.services-header-button:hover,
.services-header-button:active {
  background-color: #ffdada;
  color: #005348;
}

/* ----- header ----- */

.header-container {
  max-width: 1561px;
  padding: 16px 14px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}

.header-logo {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: #161c2d;
}

.header-logo:hover {
  color: #005348;
}

.header-nav {
  padding: 0 15px;
}

.header-nav-list {
  display: flex;
  column-gap: 44px;
  flex-wrap: wrap;
}

.header-nav-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.73333;
  letter-spacing: -0.01em;
  text-align: center;
  color: #161c2d;
  text-decoration: none;
  position: relative;
  transition: color 250ms ease-in-out;
}

/* .header-nav-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #005348;
  border-radius: 5px;
  transform: skewX(0);
  transition: all 0.5s ease;
  bottom: -5px;
} */

.header-nav-link:hover {
  color: #005348;
}

.header-button {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.03em;
  padding: 15px 33px;
}

@media screen and (max-width: 800px) {
  .header-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 400px) {
  .header-nav-list {
    column-gap: 24px;
  }

  .header-nav {
    padding: 0;
  }
}

/* ----- hero ----- */

.hero {
  padding: 124px 0 150px 0;
}

.hero-container {
  max-width: 773px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-img {
  max-width: 100%;
  margin-bottom: 79px;
}

.hero-img-text {
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #f64b4b;
  margin-bottom: 26px;
}

.hero-block {
  margin-bottom: 35px;
}

.hero-block-titile {
  font-size: 60px;
  line-height: 1.08333;
  letter-spacing: -0.03em;
  text-align: center;
  color: #161c2d;
  margin-bottom: 29px;
}

.hero-block-text {
  font-size: 19px;
  line-height: 1.68421;
  letter-spacing: -0.01em;
  text-align: center;
  color: #161c2d;
  opacity: 0.7;
}

.hero-button {
  font-size: 17px;
  line-height: 1.88235;
  letter-spacing: -0.04em;
  padding: 14px 41px;
  margin-bottom: 26px;
}

.hero-button-link {
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #161c2d;
  transition: color 250ms ease-in-out, text-decoration 250ms ease-in-out;
}

.hero-button-link:hover {
  text-decoration: underline;
  color: #005348;
}

/* ----- listen ----- */

.listen {
  background-color: #f4f7fa;
}

.listen-container {
  display: flex;
  column-gap: 110px;
  row-gap: 30px;
  align-items: center;
}

.listen-img {
  width: 100%;
  max-width: 599px;
}

.listen-block {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 100%;
  max-width: 622px;
  padding: 0 15px;
}

.listen-block-titile {
  color: #161c2d;
  margin-bottom: 20px;
  max-width: 429px;
}

.listen-block-text {
  color: #161c2d;
  max-width: 404px;
  margin-bottom: 110px;
  opacity: 0.7;
}

.listen-desc-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 33px;
}

.listen-desc-item {
  display: flex;
  gap: 14px;
  max-width: 295px;
}

.listen-desc-box-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.52381;
  letter-spacing: -0.02em;
  color: #161c2d;
}

.listen-desc-box-text {
  font-size: 17px;
  line-height: 1.70588;
  letter-spacing: -0.01em;
  color: #161c2d;
  opacity: 0.7;
}

.listen-img-box {
  display: flex;
  order: 1;
  min-width: 380px;
  width: 100%;
}

@media screen and (max-width: 1000px) {

  .listen-container {
    column-gap: 20px;
  }

  .listen-block-text {
    margin-bottom: 20px;
  }

  .listen-desc-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px) {
  .services-header-block-titile {
    font-size: 42px;
  }
}

@media screen and (max-width: 800px) {
  .listen-container {
    flex-wrap: wrap;
  }

  .listen-block {
    margin: 0 auto;
    gap: 24px;
  }

  .services-header-block-titile {
    text-align: center;
    margin: 0 auto;
  }

  .listen-block-text {
    margin: 0 auto;
    text-align: center;
  }

  .listen-block-desc {
    margin-bottom: 40px;
  }

  .listen-img {
    max-width: none;
  }
}

/* ----- comfortable ----- */

.comfortable {
  background: #473bf0;
}

.comfortable-container {
  display: flex;
  align-items: center;
  column-gap: 244px;
  justify-content: end;
}

.comfortable-block {
  max-width: 451px;
  padding: 0 15px;
  ;
}

.comfortable-block-titile {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.20833;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 15px;
}

.comfortable-block-text {
  font-size: 19px;
  line-height: 1.68421;
  letter-spacing: -0.01em;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 90px;
}

.comfortable-block-desc {
  display: flex;
  align-items: start;
  gap: 22px;
}

.comfortable-desc-text-one {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.52381;
  letter-spacing: -0.01em;
  color: #fff;
}

.comfortable-desc-text-two {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.73333;
  letter-spacing: -0.01em;
  color: #fff;
  opacity: 0.65;
}

.comfortable-img {
  min-width: 380px;
  width: 100%;
}

@media screen and (max-width: 1268px) {
  .comfortable-container {
    column-gap: 110px;
  }

  @media screen and (max-width: 850px) {
    .comfortable-container {
      column-gap: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .comfortable-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-bottom: 40px;
  }

  .comfortable-block {
    order: 1;
  }

  .comfortable-img-box {
    width: 100%;
  }
}

/* ----- trendy ----- */

.trendy {
  background-color: #161c2d;
  background-image: url("../images/trendy/music_wave.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  padding: 150px 0;
}

.trendy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.trendy-block {
  margin-bottom: 75px;
}

.trendy-block-titile {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.20833;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  max-width: 475px;
  margin-bottom: 22px;
}

.trendy-block-text {
  font-size: 19px;
  line-height: 1.68421;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  opacity: 0.65;
  max-width: 404px;
}

.trendy-image {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .trendy {
    padding: 50px 0;
  }
}


/* ----- getyour ----- */

.getyour {
  margin: 130px auto 158px auto;
}

.getyour-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1017px;
  padding: 0 15px;
}

.getyour-block {
  margin-bottom: 85px;
}

.getyour-block-titile {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.20833;
  letter-spacing: -0.04em;
  text-align: center;
  color: #161c2d;
  margin-bottom: 21px;
}

.getyour-block-text {
  font-size: 19px;
  line-height: 1.68421;
  letter-spacing: -0.01em;
  text-align: center;
  color: #161c2d;
}

.getyour-content-list {
  display: flex;
  gap: 123px;
}

.getyour-content-item {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getyour-content-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.52381;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161c2d;
  margin-bottom: 15px;
}

.getyour-content-text {
  font-size: 17px;
  line-height: 1.70588;
  letter-spacing: -0.01em;
  text-align: center;
  color: #161c2d;
  opacity: 0.7;
  margin-bottom: 31px;
}

.getyour-content-img {
  margin-bottom: 36px;
}

.getyour-content-button {
  padding: 16px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.getyour-content-img-pink {
  padding-top: 13px;
}

@media screen and (max-width: 1000px) {
  .getyour-content-list {
    display: flex;
    gap: 60px;
  }
}

@media screen and (max-width: 800px) {
  .getyour-content-list {
    flex-direction: column;
  }

  .getyour {
    margin: 50px auto 50px auto;
  }
}

/* ----- ctaimage ----- */

.ctaimage-image {
  width: 100%;
}

/* ----- footer ----- */

.footer-container {
  max-width: 1142px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: #161c2d;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-right: 15px;
  transition: color 250ms ease-in-out;
}

.footer-logo:hover {
  color: #005348;
}

.footer-nav-list {
  display: flex;
  gap: 42px;
  /* padding-bottom: 44px; */
}

.footer-nav-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.73333;
  letter-spacing: -0.01em;
  text-align: right;
  color: #161c2d;
  transition: color 250ms ease-in-out;
}

.footer-nav-link:hover {
  text-decoration: underline;
  color: #005348;
}

@media screen and (max-width: 554px) {
  .footer-nav-list {
    padding-bottom: 22px;
  }
}